<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-open-remote-url-plugin"
      version="1.0.0">
    <name>cordova-open-remote-url-plugin</name>
    <description>cordova-open-remote-url-plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,openRemoteUrl,iframe,ios</keywords>

    <engines>
      <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <js-module src="www/openRemoteUrl.js" name="openRemoteUrl">
        <clobbers target="window.OpenRemoteUrl" />
    </js-module>


    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OpenRemoteUrl">
                <param name="ios-package" value="OpenRemoteUrlPlugin"/>
            </feature>
        </config-file>

        <resource-file src="src/ios/cordovaPluginOpenRemoteUrlBack.png" />

        <header-file src="src/ios/OpenRemoteUrlPlugin.h"/>
        <source-file src="src/ios/OpenRemoteUrlPlugin.m"/>
        <header-file src="src/ios/OpenRemoteUrlViewController.h"/>
        <source-file src="src/ios/OpenRemoteUrlViewController.m"/>
    </platform>

</plugin>
